.background-header {
    background-image: url('../imagenes/10612553_4513901.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30%;
  }
  
  .background-winter {
    background-image: url('../imagenes/23320-invierno.jpg');
    background-repeat: no-repeat;
  }

  .fondoContacto, .fondoComprar {
    background-color: #2fbff5;
  }
  